<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Passport creator</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.productivity</string>
	<key>NSCameraUsageDescription</key>
	<string>Камера нужна, чтобы фотографировать свет приборов для паспорта спектакля.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Фото можно загрузить из галереи для строки паспорта.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Приложение сохраняет фото внутри проекта паспорта.</string>
	<key>UISupportsDocumentBrowser</key>
	<false/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string></string>
	</dict>
	<key>YANDEX_CLIENT_ID</key>
	<string>$(YANDEX_CLIENT_ID)</string>
	<key>YANDEX_CLIENT_SECRET</key>
	<string>$(YANDEX_CLIENT_SECRET)</string>
</dict>
</plist>
