fastapi
uvicorn[standard]
pydantic-settings
jinja2
python-multipart
sqlalchemy
bcrypt==4.0.1
itsdangerous
python-jose[cryptography]
passlib[bcrypt]
httpx
authlib
openpyxl
pillow
reportlab
paramiko
python-dotenv
aiofiles
